
/* this is navbar media query */

@media (max-width : 991px){
#navbarUl{
background: white;
margin-top: 20px;

}
}

@media (max-width : 991px){
    #menu12{
    color: black;
    
    }
    }

     /* End up navbar media query */

  /* This is About section media query */
 

    @media (max-width :767px){
        .about-me-img-box img{
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 280px;
  
        }
    }


    @media (max-width : 991px){
        .about-title p{
        font-size: larger;
        
        }
        }

        @media (max-width : 991px){
            .title-menu ul {
            font-size: larger;
            
            }
            }

             
            @media (max-width : 991px){
                .title-menu ul li{
                font-size: 13px;
                
                }
                }
        


@media (max-width : 575px){
    .about-me-box h1{
    font-size: 30px;
    
    }
    }

    @media (min-width : 576px){
        .about-me-box h1{
        font-size: 30px;
        
        }
        }

    @media (min-width : 768px){
        .about-me-box h1{
        font-size: 30px;
        
        }
        }
    
        @media (min-width : 992px){
            .about-me-box h1{
            font-size: 45px;
            
            }
            }

    
    @media (min-width : 768px){
        .about-me-img-box img{
        width: 253px;
        
        }
        }
 
        @media (min-width : 992px){
            .about-me-img-box img{
                width: 319px;
            
            }
            }
     
    /* End up About section media query */         

     /* start below the Services  section media query */   

    @media (max-width :1199px){
        .services-box{
            width: 326px;
        }
        #rightContact{
            width: 342px;
        }
        #leftIcon{
            width: 41px;
        }
    }

  
  @media (max-width :575px){
        #rightContact{
                width: 350px;
        }
    }


 
   



@media (min-width :768px){
    #rightContact{
        width: 212px; 
    }
}


@media (min-width :992px){
    #rightContact{
        width: 310px; 
    }
}


    @media (max-width :767px){
        .services-box{
            width: 467px;
            margin: 15px auto;
        }
    }

 
    @media (min-width :992px){
        .services-box{
            width: 445px;
        }
    }

    @media (min-width :1200px){
        .services-box{
         width: 352px;;
        }
        #rightContact{
            width: 223px; 
        }
    }

     /* End up the Services  section media query */ 

     /* Start below the INSPIRATION section media query */
 
     @media(max-width :1199px){
        .slidervai-imageLeft{
            margin: auto;
        }
       
     }

     @media(max-width :1199px){
        .slidervai-contactRight{
            margin: auto;
        }

        .slidervai-contactRight h3{
            text-align: center;
        }
       
     }

     /* End up the INSPIRATION section media query */


     /* Start below the Skills section media query */


@media(min-width : 992px){
    .pogress-img{
        width: 323px;
    }
    .pogress-contaner{
        margin-top: 70px;
    } 
}



@media(min-width : 1200px){
    .pogress-img{
        width: 400px;
    }
    .pogress-contaner{
        margin-top: 15%;
    } 
    .skill-titel h1{
        font-size: 52px;
    }
}


/* 
@media(min-width : 280px){
    .pogress-img img{
        width: 100px;
    }
}
 */


/* 

@media(max-width : 430px){
    .pogress-img{
        width: 290px;
    }

     */

     /* End up  the Skills section media query */


     /* Start  the Portfolio section media query  */

     @media(min-width : 1200px){
        .potfolio-titel h1{
            font-size: 61px;
            text-align: center;
        }
     }

     @media(max-width : 575px){
        .btn-controls ul li{
            margin: 0px 6px;
            font-size: 12px;
            padding: 8px;
            
        }
     }

     @media(max-width : 414px){
        .btn-controls ul li{
            margin: 0px 2px;
            font-size: 11px;
            padding: 4px;
        }
        }
     
        @media(min-width :576px){
            .btn-controls ul li{
                margin: 7px;
    font-size: 15px;
    padding: 5px 10px;
            }
        }
   
        @media(min-width :768px){
            .btn-controls ul li{
                margin: 10px;
                padding: 5px 15px;
            }
        }




   
     /* End up  the Portfolio section media query  */
      
     /* Start  the testimonial section media query  */

     @media(max-width : 1199.98px){
         .testimonial-container{
             max-width: 100%;
             padding: 0 60px;
         }
     }

     @media(max-width : 350px){
        .testimonial-titel h1{
            font-size: 15px;
            letter-spacing: 7px;
        }
    }


     /* End up  the testimonial section media query  */

     /* Start below  the Awred counter section media query  */

 
     @media(max-width : 767px){
        .counter-main-div{
            width: 100%;
            margin: 15px 0px;
           
        }
    }

   
    @media(min-width : 768px){
        .counter-main-div{
            width: 100%;
            margin: 15px 0px;
           
        }
    }

     /* End up  the Awred counter section media query  */

     /* Nothing need media query code for my image gallary */

     /* Start below the aviable freelancing section media query  */

     @media(max-width : 767px){
        .aviable-content h1{
          
           letter-spacing: 8px;
        }
    }

    @media(max-width : 510px){
        .aviable-content h1{
          font-size: 30px;
           letter-spacing: 4px;
        }
        .heiar-link a{
            padding: 8px;
            font-size: 12px;
            padding-left: 18px;
            padding-right: 18px;
    }
}

@media(max-width : 575px){
    .full-content-heiar-link {
        margin-bottom: 40px;
    }
}

     /* End up the aviable freelancing section media query  */

     /* start the below my Blog section media query  */

     @media(max-width : 991px){
        .card {
            margin: 25px 0;
        }
    }

    @media(min-width : 992px){
        .my-blog-titel {
            margin-bottom: 38px;
        }
    }

     /* End up the my Blog section media query  */

     /* Start the below favorite singer media query  */

 /* this below singer pic media query */
     @media(min-width : 992px){
        .fasingerpic img{
           width: 291px;
        
        }

        .fasingerpic {
            width: 250px;
         
         }
    }

    @media(min-width : 1200px){
        .fasingerpic img{
            width: 380px;
         
         }
    }

    @media(max-width : 575px){
        .fasingerpic img{
            width: 325px;
            
         }

         .fasingerpic{
           text-align: center;
            
         }
    }

    @media(min-width : 1200px){
        .fasingerpic h3{
           /* text-align: center; */
           position: relative;
           left: 25%;
         
         }
    }

    @media(max-width : 320px){
        .fasingerpic img{
            width: 250px;
            
         }
        }

    /* this below singer song video media query */

    @media(max-width : 991px){
        .faVideo video{
             width: 100%; 
             margin-bottom: 18px;
            
         }

         .fasingerpic{
            text-align: center;
             
          }

        }

        @media(min-width : 992px){
            .faVideo video{
                 width: 217px; 
                  margin: 10px;
                
             }
            }

            
        @media(min-width : 1200px){
            .faVideo video{
                 width: 300px; 
                  margin: 10px;
                
             }
            }

    /* End up singer song video media query */

    /* Start the below contact box media query media query */



    @media(max-width : 991px){
        .addressBox {
            margin: 15px 0;
            
         }
        }    

        @media(max-width : 575px){
            #submit-btn{
                width: 100%;
                
             }
            } 

    /* End up the contact box media query media query */

  

        
    @media(max-width : 450px){
        .footer-div strong{
           font-size: 13px;
            
         }

         .footer-socail-icon-btn i{
             margin: 0 12px;
             padding: 0; 
            background: none; 
         }
        } 


        /* submenu meidea query */
        
       @media(max-width: 320px){
           #subMenu{
               width: 100%;
           }
       }

        /* banner titel media query */

        @media(min-width: 1200px){
            .banner-titel h1{
                font-size: 58px;
            }
        }

        @media(min-width: 576px){
            .banner-titel h1{
                font-size: 19px;
            }
        }

        @media(min-width: 768px){
            .banner-titel h1{
                font-size: 34px;
            }
        }

        @media(min-width: 1200px){
            .banner-titel h1{
                font-size: 58px;
                letter-spacing: 18px;
            }
        }



        @media(max-width: 575px){
            .banner-titel h1{
                font-size: 26px;
                letter-spacing: 0px;
            }
        }

       

        @media(max-width: 414px){
            .banner-titel h1{
                font-size: 14px;
                letter-spacing: 0px;
            }
        }



        @media(max-width: 320px){
            .banner-titel h1{
                font-size: 10px;
                letter-spacing: 0px;
            }
        }

        /* end up the baaner titel media query */

        /*start the below animation headline  media query */

        @media(min-width: 576px){
            span.ah-headline.rotate-1{
                 font-size: 12px; 
            }
        }

        @media(min-width: 768px){
            span.ah-headline.rotate-1{
                 font-size: 18px; 
            }
        }

        @media(min-width: 992px){
            span.ah-headline.rotate-1{
                 font-size: 22px; 
            }
        }


        @media(min-width: 1200px){
            span.ah-headline.rotate-1{
                 font-size: 28px; 
            }
        }


      

        @media(max-width: 575px){
            span.ah-headline.rotate-1{
                 font-size: 14px; 
            }

            .my-animated-headline{
                position: absolute;
                /* text-align: center; */
                top: 49%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
        }

        @media(max-width: 500px){
            span.ah-headline.rotate-1{
                 font-size: 11px; 
            }

            .banner-titel h1{
                font-size: 16px;
                
            }

            .my-animated-headline{
                position: absolute;
                /* text-align: center; */
                top: 47%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
        }



      

      

        @media(max-width: 414px){
            span.ah-headline.rotate-1{
                 font-size: 17px; 
            }
            .banner-titel h1{
                font-size: 16px;
                
            }
            
        }


        @media(max-width: 375px){
            span.ah-headline.rotate-1{
                 font-size: 16px; 
            }
            .banner-titel h1{
                font-size: 14px;
                
            }
            
        }
        
        @media(max-width: 320px){
            span.ah-headline.rotate-1{
                 font-size: 13px; 
            }
            .my-animated-headline{
                position: absolute;
                /* text-align: center; */
                top: 47%;
                left: 50%;
                transform: translate(-50%, -50%);
              }

              .banner-titel h1{
                font-size: 10px;
                
            }
            
        }

        /*end up animation headline  media query */

        /*start the below banner baton  media query */

        @media(min-width: 576px){
            .banner-contact-btn a{
                padding: 9px;
                font-size: 12px;
                padding-left: 20px;
                padding-right: 20px; 
            }
            .banner-hear-btn a{
                padding: 9px;
                font-size: 12px;
                padding-left: 28px;
                padding-right: 28px 
            }
        } 
        
        @media(min-width: 992px){
            .banner-contact-btn a{
                padding: 11px;
                font-size: 14px;;
                padding-left: 30px;
                padding-right: 30px 
            }
            .banner-hear-btn a{
                padding: 11px;
                 font-size: 14px;
                padding-left: 30px;
                padding-right: 30px 
            }
        } 

 
        @media(max-width: 575px){
            .banner-contact-btn a{
                padding: 7px;
                font-size: 10px;
                padding-left: 20px;
                padding-right: 20px;
            }
            .banner-hear-btn a{
                padding: 7px;
                font-size: 10px;
                padding-left: 28px;
                padding-right: 28px 
            }
        }
         

        /*end up banner baton  media query */

        /*start the below banner icon baton  media query */


             @media(min-width: 576px){
                .banner-scoial-icon-btn i{
                 font-size: 12px;
                 margin: 0 5px;
            }
            .banner-scoial-icon-btn{
                position: absolute;
                /* text-align: center; */
                top: 75%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
          
        }

        @media(min-width: 768px){
            .banner-scoial-icon-btn i{
                
                margin: 0px 13px;
                border: 1px solid #fff;
                padding: 15px;
                border-radius: 50%;
                background: transparent;
                outline: none;
                cursor: pointer;
                transition: all 0.6s ease;
        }
      
      
    }

    @media(min-width: 992px){
        .banner-scoial-icon-btn i{
            font-size: 18px;
            margin: 0px 13px;
            border: 1px solid #fff;
            padding: 15px;
            border-radius: 50%;
            background: transparent;
            outline: none;
            cursor: pointer;
            transition: all 0.6s ease;
    }
  
  
}


@media(max-width: 575px){
    .banner-scoial-icon-btn i{
        margin: 0 4px;
    font-size: 13px;
}


}

        /*end up the banner icon baton  media query */


